@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body{
    background: url("http://localhost:8888/Symfony/web/bundles/app/img/aurore.jpg") no-repeat center fixed;
    background-size: cover;
}

.baseline{
    display: none;
}

#registerForm{
    display: none;
}

@media screen and (min-width: 992px) {
    #registerForm{
        margin-top: 100px;
    }
}

